@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Mono:wght@100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Tilt+Warp&display=swap');
.button-add-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.add-employee-button {
  font-family: "Cabin", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #8dc6ff;
  color: #142d4c;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s linear;
}
.fa-icon-add {
  font-size: 20px;
  color: #142d4c;
}
.add-employee-button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 15px 5px #8dc6ff;
}
.add-employee-button:active {
    scale: 0.95;
  
}